USE [master]
GO
/****** Object:  Database [Planner]    Script Date: 8/27/2021 12:51:30 PM ******/
CREATE DATABASE [Planner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Planner', FILENAME = N'C:\Users\v.cassano\Planner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Planner_log', FILENAME = N'C:\Users\v.cassano\Planner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Planner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Planner]
GO
USE [Planner]
GO
/****** Object:  Table [dbo].[Impegno]    Script Date: 8/27/2021 12:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impegno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titolo] [nvarchar](50) NOT NULL,
	[Descrizione] [nvarchar](50) NOT NULL,
	[DataScadenza] [date] NULL,
	[Importanza] [varchar](50) NULL,
	[Terminato] [bit]  NULL,
 CONSTRAINT [PK_Impegno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Impegno] ON 

INSERT [dbo].[Impegno] ([Titolo], [Descrizione], [DataScadenza], [Importanza], [Terminato], [Id], [Discriminator]) VALUES (N'Visita Medica', N'Descrizione Visita', NULL, NULL, NULL, 1, N'Impegno')
INSERT [dbo].[Impegno] ([Titolo], [Descrizione], [DataScadenza], [Importanza], [Terminato], [Id], [Discriminator]) VALUES (N'Riunione Lavoro', N'Descrizione Riunione', NULL, NULL, NULL, 2, N'Impegno')
INSERT [dbo].[Impegno] ([Titolo], [Descrizione], [DataScadenza], [Importanza], [Terminato], [Id], [Discriminator]) VALUES (N'Acquisto Scrivania', N'Descrizione Acquisto', NULL, NULL, NULL, 3, N'Impegno')

SET IDENTITY_INSERT [dbo].[Impegno] OFF

USE [master]
USE [master]
GO
